
.toolbar-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-nav-buttons {
  padding-left: 25px;
}

.mat-elevation-z2 {
   position: relative;
   z-index: 2;
}

.toolbar-transparent {
  background-color: rgba(0,0,0, 0.8);
}

/*
.toolbar-background {
  background-image: url('../../assets/toolbar-bkg.png');
  background-attachment: fixed;
  background-size: contain;
  background-blend-mode: overlay;
}
*/
