
.toolbar-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-nav-buttons {
  padding-left: 25px;
}

.mat-elevation-z5 {
   position: relative;
   z-index: 2;
}
