<mat-toolbar class="mat-elevation-z2" color="primary">
  <span>Welcome!</span>
  <nav class="toolbar-nav-buttons">
    <button mat-button color="grey" routerLink="/photos">Photos</button>
    <button mat-button color="grey" routerLink="/music">Music</button>
    <button mat-button color="grey" routerLink="/about">About</button>
  </nav>
  <!-- This fills the remaining space of the current row -->
  <span class="toolbar-fill-remaining-space"></span>

  <span>Photostream Website</span>
</mat-toolbar>
