
img {
    max-height: 75vh;
    max-width: 75vw;
  }

.fav-button {
  padding-top: 10px !important;
}

.fav-button-bkg {
    border-radius: 15px !important;
    background: rgba(0, 0, 0, 0.5) !important;
}

    :host {
         display: flex;
         flex-direction: column;
         align-items: center;
       }

       h1 {
         margin: 0;
         padding: 1em;
       }



       .overlay-content {
         padding: 1em;
       }
