
<img src="{{this.imageService.getImage(image)}}">
<!--  <button mat-button [mat-dialog-close]="senddata">Close</button> -->
<div class="fav-button">
  <div class="fav-button-bkg">
  <button mat-stroked-button color="primary" (click)="onLike()">
    <mat-icon aria-label="Example icon-button with a heart icon" color="warn">favorite</mat-icon>
    <span class="likes-text">{{rating}}</span>
  </button>
  <button mat-stroked-button color="primary" >
    <mat-icon aria-label="fullscreen button" class="white-icon">fullscreen</mat-icon>
  </button>
  <button mat-stroked-button color="primary" >
    <mat-icon aria-label="fullscreen button" class="white-icon">close</mat-icon>
  </button>
</div>
</div>
