
.container {

}

img:hover ~ .button-bar{
  opacity: 1.0 !important;
}

img:hover, img:focus, img:active {
  outline: none !important; // removes ugly focus dotted border
}

.button-bar:hover {
  opacity: 1.0 !important;
}


.fav-button-bkg {
    border-radius: 15px !important;
    background: rgba(0, 0, 0, 0.5) !important;
}

:host {
     display: flex;
     flex-direction: column;
     align-items: center;
   }

 .white-icon {
   color: white;
}

.likes-text {
  color: white;
  padding-left: 5px;
}
