<div class="photoview-background">
  <div class="my-masonry-image-list">
    <ng-masonry-grid
                  [masonryOptions]="{ transitionDuration: '0.8s', gutter: 15 }"
                  [useAnimation]="true"
                  [useImagesLoaded]="true"
                  [scrollAnimationOptions]="{ animationEffect: 'effect-4', minDuration : 0.4, maxDuration : 0.7 }">
      <ng-masonry-grid-item *ngFor="let imageName of sortedImages" routerLinkActive="active"  routerLink="/photos" [queryParams]="{img: imageName} ">
        <img class="image-list-item-container" src="{{this.imageService.getImage(imageName, true)}}" alt="No image" />
      </ng-masonry-grid-item>
    </ng-masonry-grid>
  </div>
</div>
