@import "~@angular-mdc/theme/material";

.my-masonry-image-list {
  @include mdc-image-list-masonry-columns(4, 15px);
   padding-top: 25px;
   padding-left: 100px;
   padding-right: 100px;
}

.image-list-item-container {
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
  border-color: #DDDDDD;
}

.mat-elevation-z5 {
  border-radius: 30px;
   position: relative;
   z-index: 2;
}

.photoview-background {
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0.8)), url("http://localhost:5000/images/24.png.raw");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
