
/* center container*/
.my-grid {
  margin: 0 auto;
}
.my-masonry-image-list {
  padding: 20px;
}

.grid-item {
   margin-bottom: 15px;
 }

/*
.grid-sizer, .grid-item {
   width: 20%;
   margin-bottom: 15px;
 }

.grid-item--width2 { width: 40%; }

.gutter-sizer { width: 4%; }
*/

.photoview-background {
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0.8)), url("http://localhost:5000/images/raw/bike-trip-sweden---italy-2018_42445058455_o.png"); //TODO: URL
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.image-list-item-container {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
//  border-top-left-radius: 500px;
//  border-bottom-right-radius: 500px;
  border-color: #DDDDDD;
}

.mat-elevation-z5 {
   border-radius: 15px;
   position: relative;
   z-index: 2;
}

/*
@import "~@angular-mdc/theme/material";

.my-masonry-image-list {
  @include mdc-image-list-masonry-columns(4, 15px);
   padding-top: 30px;
   padding-left: 100px;
   padding-right: 100px;
}

.image-list-item-container {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
//  border-top-left-radius: 500px;
//  border-bottom-right-radius: 500px;
  border-color: #DDDDDD;
}

.mat-elevation-z5 {
   border-radius: 15px;
   position: relative;
   z-index: 2;
}

.photoview-background {
  background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0.8)), url("http://localhost:5000/images/24.png.raw");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
*/
