@import '~@angular/material/theming';

@include mat-core();

$photo-app-primary: mat-palette($mat-grey, 800, 900, 600);
$photo-app-accent:  mat-palette($mat-green, 200, 100, 400);
$photo-app-warn:    mat-palette($mat-red);
$photo-app-theme: mat-light-theme($photo-app-primary, $photo-app-accent, $photo-app-warn);

@include angular-material-theme($photo-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.my-dialog .mat-dialog-container {
  padding: 10;
  background-color: mat-color($photo-app-primary);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  &.dark-backdrop {
    background: #000;
    opacity: 0.3 !important;
  }
}
